.DS_Store
Debug/
SDL2/
ICEngine/CMakeFiles/
\.vs/ICEngine/v15/
\.vs/
ICEngine/Makefile
ICEngine/\.vscode/
ICEngine/CMakeCache\.txt
*.includecache
*.make
ICEngine/CMakeFiles/2inside\.dir/
*.bin
ICEngine/build/
Release/
*.TMP
ICECore/\.vs/
\.idea/
cmake-build-debug/
*.dll
*.DotSettings.user
*.DotSettings.user
